[submodule "Color/ThirdParty/glm"]
	path = Color/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Color/ThirdParty/GLFW"]
	path = Color/ThirdParty/GLFW
	url = https://github.com/trianglxboi/cleglfw
[submodule "Color/ThirdParty/Glad"]
	path = Color/ThirdParty/Glad
	url = https://github.com/trianglxboi/cleglad
