# IDE/Code Editor Specific
.vs/
.vscode/

# Binaries
Binaries/
Binaries-Int/

# Log Outputs
*.log

# Cached Things
# Cache Directories
Cache/

# Cached Shaders
*.cached_opengl.vert
*.cached_opengl.frag
*.cached_vulkan.vert
*.cached_vulkan.frag
# END of Cached Things

# Project Files
*.sln
*.vcxproj
*.filters
*.user
Makefile
**/Makefile
*.mk
