[submodule "Color/ThirdParty/glm"]
	path = Color/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Color/ThirdParty/GLFW"]
	path = Color/ThirdParty/GLFW
	url = https://github.com/Color-Engine-Legacy/cleglfw
[submodule "Color/ThirdParty/Glad"]
	path = Color/ThirdParty/Glad
	url = https://github.com/Color-Engine-Legacy/cleglad
[submodule "Color/ThirdParty/stb"]
	path = Color/ThirdParty/stb
	url = https://github.com/Color-Engine-Legacy/clstbcol
